h1 {
    font-size: 32pt;
}

button {
    
    background-color: #DB6400;
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    height: 4vh;
    width: 25%;
    font-family: 'Syne Mono', monospace;
    color: white;
    font-size: 18pt;
    margin-left: 1vh;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

button:focus {
    outline: none;
}

button:active {
    left: 10px;
  /* width: 50%; */
  top: 80%;
  max-width:300px;
  background: #FFCBBB;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
}

body {
    background-color: #EEEEEE;
}

input {
    border-style: none;
    padding-left: 3vh;;
    border-radius: 3px;
    height: 4vh;
    width: 75%;
    font-size: 18pt;
    font-family: 'Syne Mono', monospace;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

input:focus {
    outline: none;
    /* margin-left: 5vh; */
}

p {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    /* border-bottom: 3px solid #777; */
    /* border-width: thin; */
    word-break: break-all;
    margin-bottom: -10px;
    margin-top: 20px;
}

#app {
    /* min-width: 100vh; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app-content-container {
    font-family: 'Syne Mono', monospace;
    width: 600px;
}

#title-container {
    background-color: #16697A;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

#add-container {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
}

#todo-list {
    margin-top: 3vh;
    background-color: #FFFFFF;
    min-height: 50vh;
    border-radius: 5px;
    font-size: 18pt;
    /* display: flex; */
    /* flex-direction: column; */
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

@media all and (max-width: 800px){
    h1 {
        font-size: 20pt;
    }
    p {
        font-size: 14pt;
    }
    button {
        font-size: 14pt;
    }
    input {
        font-size: 14pt;
    }
    #app-content-container {
        width: 75%;
    }
}

@media all and (max-width: 500px){
    #app-content-container {
        width: 95%;
    }
    #add-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        margin-top: 30px;
        margin-left: 0px;
        width: 100%;
        padding: 30px;
        line-height: 0;
    }

    input {
        width: 88%;
        padding: 20px;
    }

    #app {
        display: block;
        margin-top: 50px;
    }

}

@media all and (max-height: 800px){

    #app{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    button {
        line-height: 0px;
    }
}

@media all and (max-height: 1000px){
    h1 {
        font-size: 20pt;
    }
    p {
        font-size: 14pt;
    }
    button {
        font-size: 14pt;
    }
    input {
        font-size: 14pt;
    }
}

@media all and (max-height: 650px){
    button {
        padding-top: 20px;
        padding-bottom: 20px;
        
    }
    input {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}